<!DOCTYPE html>
<html lang="en">
<head>
    <script src="parts.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="main.css">
    <title>Parts</title>
</head>

  <body>
    <nav id="nav_main">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo left">SPM</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/descriptions">Descriptions</a></li>
          <li  class="active"><a href="">Parts</a></li>
          <li><a href="/series">Series</a></li>
        </ul>
      </div>
    </nav>
    <a class="waves-effect waves-light btn modal-trigger" id="addPart" href="#myModal">Add a Part</a>
    <% if (data.message) { %>
      <p class="red-text"><%= data.message %></p>
    <% } %>
    <div id="myModal" class="modal">
        <div id="modal_Wrapper">
        <form id="partForm" class="col s12" action="/addPart" method="POST">
            <div class="row">
                <label for="xQM_No">xQM No</label>
                <input name="xQM_No" id="xQM_No" type="number" class="validate">
              </div>
              <div class="row">
                <label for="Warranty_No">Warranty No</label>
                <input name="warranty_No" id="Warranty_No" type="text">
              </div>
              <div class="row">
                <label for="Serial_No">Serial Number</label>
                <input name="serial_No" id="Serial_No" type="text" class="validate">
              </div>
              <div class="row">
                <label for="date_of_sale">Date of Sale</label>
                <input name="date_of_sale" id="date_of_sale" type="text" class="datepicker">
              </div>
              <div class="row">
                <label for="date_of_failure">Date of Failure</label>
                <input name="date_of_failure" id="date_of_failure" type="text" class="datepicker">
              </div>
              <div class="row">
                <label for="Part_No">Part No</label>
                <input name="part_No" id="Part_No" type="text" class="validate">
              </div>
              <div class="row">
                <label for="Comments">Comments</label>
                <input name="comments" id="Comments" type="text">
              </div>
              <div class="row">
                <label>Sent to Manufacture</label>
                <select name="sent_to_manufacture" class="select" id="Sent_to_Manufacture">
                    <option value=false>No</option>
                    <option value=true>Yes</option>
                </select>
             </div>
             <div class="row">
                <label for="date_raised">Date Raised</label>
                <input name="date_raised" id="date_raised" type="text" class="datepicker">
              </div>
              <button id="partButton" class="waves-effect waves-light btn" type="submit">Add Part</button>
        </form>
    </div>
    </div>
      <table id="parts_table">
        <tbody>
          <tr><th>id</th><th>xQM_No</th><th>Warranty_No</th><th>Serial_No</th><th>Date of Sale</th><th>Date of Failure</th><th>Part No</th><th>Comments</th><th>Sent_to_manufacture</th><th>Date Added</th><th></th></tr>
        </tbody>
        </table>
  </body>
</html>


 <!-- Compiled and minified JavaScript -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>