* {
    font-family: 'Open Sans', sans-serif, FontAwesome;
    transition: 2s ease;
}

body {
    background-color: #D5D6D2;
}

#parts_table {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

table.highlight>tbody>tr:hover {
    background-color: white;    
    cursor: pointer;
}

#parts_table tr:first-child:hover {
    background-color: inherit;
}

#nav_main {
    background-color: #324851;
}