* {
    font-family: 'Open Sans', sans-serif, FontAwesome;
}

body {
    background-color: #D5D6D2;
}

#parts_table {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

#desc_table {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

#series_table {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

table.highlight>tbody>tr:hover {
    background-color: white;    
    cursor: pointer;
}

#parts_table tr:first-child:hover {
    background-color: inherit;
}

#desc_table tr:first-child:hover {
    background-color: inherit;
}

#nav_main {
    background-color: #324851;
}

#modal_Wrapper {
    display: block;
    margin: 0 auto;
    width: 80%;
    padding: 2em;
}
