@font-face {
    font-family: "myfont";
    src: url("./fonts/STIHLContrafaceTextDemi.woff") format('woff'),
         url("./fonts/STIHLContrafaceTextDemi.woff2") format('woff2');
}

* {
    font-family: 'myfont';
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 4em auto;
    grid-template-areas: 
      "header header "
      "sidebar main";
  }

main {
    grid-area: main;
    overflow-y: scroll;
    background-color: #DADADA;
    padding: 0 3em;
}



#content_table {
    text-align: center;
}

#sideNav-wrapper {
    background-color: #DADADA;
    grid-area: sidebar;
    overflow: scroll;
}

#card-wrapper {
    overflow: scroll;
}

table.highlight>tbody>tr:hover {
    background-color: white;    
    cursor: pointer;
}

#parts_table tr:first-child:hover {
    background-color: inherit;
}

#desc_table tr:first-child:hover {
    background-color: inherit;
}

#nav_main {
    background-color: #F37A1F;
    grid-area: header;
    display: block;
    height: 4em;
}

#parts_Table {
    display: table;
    position: relative;
}

#modal_Wrapper {
    display: block;
    margin: 0 auto;
    width: 80%;
    padding: 2em;
}
